.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex-grow: 1;
  }
  
  button {
    align-self: flex-end;
  }

  .form-buttons {
    position: sticky;
    bottom: 0;
    padding: 16px;
    display: flex;
    justify-content:center;
    z-index: 10;
    border-top: 1px solid #e0e0e09e;
  }
  .form-title{

    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #365679;
    margin-bottom: 20px;
    display: flex;

}

mat-card-header{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: #3184dc;
    margin-bottom: 20px;
    display: flex;
}

mat-form-field{
  width: 46%;
  margin-left: 1%;
  margin-right: 1%;
}

.resources-section {
    margin-top: 1rem;
}

.resource-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem 0;
}

.resource-select {
    min-width: 200px;
}

.card{
  margin: 2%;
  background-color: #edeff1af;
}

.button-array{
  margin-top: 8%;
  margin-bottom: 3%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.toolbar-logo {
    height: 60px; 
    margin: 0 1px;
    display: flex;
    margin-right: 80px;
}