<mat-card>

  <mat-card-header class="form-title"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBCSh4e0_PE6Jw3Nhki3eKDatGFxfwb41FOg&s" alt="Logo" class="toolbar-logo">
    Resource Inventory Form 
  </mat-card-header>

  <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

    <div class="form-grid">

      <mat-form-field appearance="outline">
        <mat-label>Resource ID</mat-label>
        <input matInput formControlName="resource_id" type="number"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Full Count</mat-label>
        <input matInput formControlName="fullCount" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Available Units</mat-label>
        <input matInput type="number" formControlName="availableUnits" />
      </mat-form-field>
    </div>

    <div class="button-array">
      <button mat-raised-button color="primary" type="submit"> 
        <mat-icon>check</mat-icon>
        Submit 
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="onClose()"> 
        <mat-icon>cancel</mat-icon>
        Cancel 
      </button>
    </div>
  </form>
</mat-card>
