<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutWrap> 
        <div fxFlex="100" style="overflow-x: auto;">

        <table mat-table [dataSource]="dataSource" class="mat-elavation-z6">
            <!-- Dynamically create column definitions -->
            <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
              <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIF="column.columnDef !== 'actions'; else actionsTemplate">
                    {{ column.cell(element) }}
                </ng-container>

                <ng-template #actionsTemplate>
                    <button mat-raised-button color="primary" >
                      <mat-icon>Edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" >
                      <mat-icon>Delete</mat-icon>
                    </button>
                  </ng-template>

                 </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

        </div>

        <mat-card-footer>
        </mat-card-footer>
        
    </mat-card-content>
</mat-card>



