mat-card{
    margin: 0.5%;
}

button{
    margin: 2px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  table{
    white-space: nowrap;
  }

  .filter{
    margin-bottom:2px;
}

.filterheight{
    min-height: 32px;
    width: 300px;
}

.header{
  display: flex;
  align-items:center;
}

.addButton{
  margin-left: auto;
  margin-bottom: 28px;
}