.formatting {
    width: 98%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #dbe1e5;
  }

.textColor{
    color: rgba(55, 53, 53, 0.814);
    margin-right: 5%;
    font-size: 16px;
}

.optionsMargin{
    margin-right: 3%;
}
