
mat-card{
    text-align: left;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

.formTitle{
    font-weight: 600;
    color: #365679;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
