<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Patient ID</th>
        <th scope="col" sortable="patient_name" (sort)="onSort($event)">Patient Name</th>
        <th scope="col" sortable="age" (sort)="onSort($event)">Age</th>
        <th  scope="col" sortable="gender" (sort)="onSort($event)">Gender</th>
        <th scope="col" sortable="address" (sort)="onSort($event)">Residential Address</th>
        <th scope="col" sortable="contact_information" (sort)="onSort($event)">Patient Contact Information</th>
        <th scope="col" sortable="emergency_contact_name" (sort)="onSort($event)">Emergency Contact Person</th>
        <th scope="col" sortable="emergency_contact_number" (sort)="onSort($event)">Emergency Contact Number</th>
        <th scope="col" sortable="admission_status" (sort)="onSort($event)">Admission Status</th>
        <th scope="col" sortable="bed_number" (sort)="onSort($event)">Bed Number</th>
        <th scope="col" sortable="disease" (sort)="onSort($event)">Disease</th>
        <th scope="col" sortable="allergies" (sort)="onSort($event)">Allergies</th>
        <th scope="col" sortable="doctor_name" (sort)="onSort($event)">Doctor Assigned</th>
        <th scope="col" sortable="criticality" (sort)="onSort($event)">Criticality</th>
        <th scope="col" sortable="resource1" (sort)="onSort($event)">Resource Assigned 1</th>
        <th scope="col" sortable="resource2" (sort)="onSort($event)">Resource Assigned 2</th>
        <th scope="col" sortable="resouece3" (sort)="onSort($event)">Resource Assigned 3</th>
      </tr>
    </thead>
    <tbody>
        @for (patient of patients; track patient.patient_name; let i = $index) {
      <tr>
        <td scope="row">{{ i+1 }}</td>
        <td>{{ patient.patient_name }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.address}}</td>
        <td>{{ patient.contact_information }}</td>
        <td>{{ patient.emergency_contact_name }}</td>
        <td>{{ patient.emergency_contact_number }}</td>
        <td>{{ patient.admission_status }}</td>
        <td>{{ patient.bed_number }}</td>
        <td>{{ patient.disease }}</td>
        <td>{{ patient.allergies }}</td>
        <td>{{ patient.doctor_name }}</td>
        <td>{{ patient.criticality }}</td>
        <td>{{ patient.resource1 }}</td>
        <td>{{ patient.resource2 }}</td>
        <td>{{ patient.resouece3 }}</td>
      </tr>
    }
    </tbody>
  </table>
  