<div class="resource-management-container">
  <!-- Patient table -->
  <resq-frontend-table [dataSource]="resourcelist" [columns]="columns">
    <resq-frontend-button
      table-actions
      label="Add Resource"
      (click)="showAdmissionForm()"
    >
    </resq-frontend-button>
  </resq-frontend-table>

  <!-- Resource Add form -->
  <ng-container *ngIf="showForm">
    <div class="modal-backdrop"></div>
    <div class="modal-container">
      <div class="modal-content">
        <resq-frontend-resource-add 
        (resourceAdded)="onResourcesAdd($event)"
        (closeClicked)="onFormClose()">
      </resq-frontend-resource-add>>
      </div>
    </div>
  </ng-container>
</div>
