
<div class="patient-management-container">
    
    <!-- Patient table -->
    <resq-frontend-table
      [dataSource]="patientList"
      [columns]="columns">

            <resq-frontend-button table-actions
            label="Add Patient"
            (click)="showAdmissionForm()">
            </resq-frontend-button>       
    </resq-frontend-table>
  
    <!-- Patient admission form -->
    <ng-container *ngIf="showForm">
      <div class="modal-backdrop"></div>
      <div class="modal-container">
        <div class="modal-content">
          <resq-frontend-patient-admission
            (patientAdded)="onPatientAdded($event)">
          </resq-frontend-patient-admission>
        </div>
      </div>
    </ng-container>

  </div>