
<resq-frontend-table [dataSource]="patientlist" [columns]="columns">
    <resq-frontend-button table-actions label="Add Patient"> </resq-frontend-button>
</resq-frontend-table>


<resq-frontend-form title="Patient Admission Form"> 

        <resq-frontend-form-field form-field-actions label="NIC"   > </resq-frontend-form-field>

        <resq-frontend-half-form-field form-field-actions label="First Name"> </resq-frontend-half-form-field>
        <resq-frontend-half-form-field form-field-actions label="Last Name"> </resq-frontend-half-form-field>
       
        <resq-frontend-form-field form-field-actions label="Age"  ></resq-frontend-form-field>
        <resq-frontend-form-field form-field-actions label="Address" ></resq-frontend-form-field>
        <resq-frontend-form-field form-field-actions label="Contact No"  ></resq-frontend-form-field>
        
</resq-frontend-form>