<!---
<resq-frontend-table [dataSource]="patientlist" [columns]="columns">
    <resq-frontend-button table-actions label="Add Patient"> </resq-frontend-button>
</resq-frontend-table>


<resq-frontend-patient-admission > </resq-frontend-patient-admission>
-->

<!-- src/app/patient-management/patient-management.component.html -->

<div class="patient-management-container">
    
    <!-- Patient table -->
    <resq-frontend-table
      [dataSource]="patientList"
      [columns]="columns">

            <resq-frontend-button table-actions
            label="Add Patient"
            (click)="showAdmissionForm()">
            </resq-frontend-button>

    </resq-frontend-table>
  
  
    <!-- Patient admission form -->
    <resq-frontend-patient-admission
      *ngIf="showForm"
      (patientAdded)="onPatientAdded($event)">
    </resq-frontend-patient-admission>

    <!-- Dropdown for filtering by criticality 
    <resq-frontend-drop-down
      label="Filter by Criticality"
      apiEndpoint="criticality"
      (selectionChange)="onCriticalityFilterChange($event)">
    </resq-frontend-drop-down>
  -->
    
  </div>