
.patient-management-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  resq-frontend-drop-down {
    width: 200px;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
  }
  
  .modal-container {
    position: fixed;
    //top: 2%;
    //bottom: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: rgba(255, 255, 255, 0.631);
    //border-radius: 2px;
    border-radius: 8px;
    //padding: 10px;
    padding: 16px;
    width: 90%;
    max-width: 700px;
    max-height: 90vh;
    min-height: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .modal-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

